@using MvcCvPrroject.Models.Entity
@model List<tblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hakkımda Düzenleme Sayfası</title>
    <link rel="stylesheet" href="~/HtmlCssJs/style.css" />
    <script src="~/HtmlCssJs/script.js"></script>


</head>

<form method="post">
    @foreach (var item in Model)
    {

        <div class="page">
            <div class="container">
                <div class="add-label">
                    <label for="yetenek ekle">Hakkımda Düzenleme Sayfası</label>
                </div>
                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="Ad" value="@item.Ad" id='name' required />
                    <label for="name" class="form__label">Ad</label>
                </div>

                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="Soyad" value="@item.Soyad" id='name3' required />
                    <label for="name3" class="form__label">Soyad</label>
                </div>


                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="Adres" value="@item.Adres" id='name4' required />
                    <label for="name4" class="form__label">Adres</label>
                </div>

                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="Telefon" value="@item.Telefon" id='name5' required />
                    <label for="name5" class="form__label">Telefon</label>
                </div>

                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="Mail Adresi" value="@item.Mail" id='name6' required />
                    <label for="name6" class="form__label">Mail Adresi</label>
                </div>

                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="name7" value="@item.Resim" id='name7' required />
                    <label for="name7" class="form__label">Resim</label>
                </div>

                <div style="margin-bottom: 10px;" class="form__group field">
                    <input type="input" class="form__field" placeholder="" name="name2" value="@item.Aciklama" id='name2' required />
                    <label for="name2" class="form__label">Açıklama</label>
                </div>

                <div class="button_lay">
                    <button class="button" style="letter-spacing: 5px;" role="button">Güncelle</button>
                </div>
            </div>
        </div>

    }
</form>
