@using MvcCvPrroject.Models.Entity
@model List<tblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hakkımda Düzenleme Sayfası</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/IletisimDesign/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<form method="post">
    @foreach(var item in Model)
    {
        <div style="margin-top:5rem;" class="resume-section-content">
            <div class="field" tabindex="1">
                <label for="AdSoyad">
                    <i class="fa fa-user"></i>Ad 
                </label>
                <input name="Ad" type="text" value="@item.Ad" required></input>
            </div>
            <div class="field" tabindex="2">
                <label for="Soyad">
                    <i class="fa fa-user"></i>Soyad
                </label>
                <input name="Soyad" type="text" value="@item.Soyad" required></input>
            </div>
            <div class="field" tabindex="3">
                <label for="text">
                    <i class="fa fa-map-marker"></i>Adres
                </label>
                <input name="Adres" type="text" value="@item.Adres" required></input>
            </div>
            <div class="field" tabindex="4">
                <label for="message">
                    <i class="fa fa-phone"></i>Telefon
                </label>
                <input name="Telefon" type="text" value="@item.Telefon" required></input>
            </div>
            <div class="field" tabindex="5">
                <label for="message">
                    <i class="fa fa-envelope"></i>Mail
                </label>
                <input name="Mail" type="text" value="@item.Mail" required></input>
            </div>
            <div class="field" tabindex="6">
                <label for="message">
                    <i class="fa fa-camera"></i>Resim
                </label>
                <input name="Resim" type="text" value="@item.Resim" required></input>
            </div>
            <div class="field" tabindex="7">
                <label for="message">
                    <i class="fa fa-text-width"></i>Açıklama
                </label>
                <textarea rows="5" name="Aciklama" type="text" required>@item.Aciklama</textarea>
            </div>
            <button type="submit">Güncelle</button>
        </div>
    }
</form>

</html>

