@using MvcCvPrroject.Models.Entity
@model List<tblIletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Material Design Inbox Expansion Animation</title>
    <link rel="stylesheet" href="~/material-design-inbox-expansion-animation/dist/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div id="app">
        <div class="header">
            <h3 id="header-content">Mesajlar</h3>
        </div>
        <div class="list">
            @foreach(var item in Model)
            {
                <p class="list-heading"> @(((DateTime)item.Tarih).ToString("dd-MMM-yyyy"))</p>
                <div class="list-item" data-sender="@item.AdSoyad" data-subject="@item.Konu">
                    <img src="https://i.pravatar.cc/100?img=1" />
                    <div class="list-item-body">
                        <p>@item.AdSoyad</p>
                        <p>@item.Konu</p>
                    </div>
                </div>
            }
        </div>

        <div class="details-view">
            @foreach(var item in Model)
            {
                <h3 class="detail-heading">@item.Konu</h3>
                <div class="sender">
                    <img id="sender-image" src="" />
                    <div class="list-item-body" id="message-details">
                        <p>@item.AdSoyad</p>
                    </div>
                </div>
                <div class="message-body">@item.Mesaj</div>
            }
        </div>
    </div>
    <script src="~/material-design-inbox-expansion-animation/dist/script.js"></script>

</body>
</html>




