@model MvcCvPrroject.Models.Entity.tblIletisim
@{
    ViewBag.Title = "MailOku";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gelen Kutusu</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminDesign/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminDesign/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <section style="margin-top:5rem;" class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <div style="min-height: 550px;" class="card card-primary card-outline">
                                <div style="background:#343a40;" class="card-header">
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <div class="mailbox-read-info">

                                        <h5>@Model.Konu</h5>


                                        <h6>
                                            Gönderen: @Model.AdSoyad (@Model.Mail)
                                            <span class="mailbox-read-time float-right">@Model.Tarih</span>
                                        </h6>
                                    </div>

                                    <!-- /.mailbox-read-info -->
                                    <!-- /.mailbox-controls -->
                                    <div class="mailbox-read-message">

                                        <p>
                                            @Model.Mesaj
                                        </p>


                                    </div>
                                    <!-- /.mailbox-read-message -->
                                </div>
                                <!-- /.card-body -->
                                <!-- /.card-footer -->
                                <a href="~/Iletisim/MailSil/@Model.ID">
                                    <button class="btn btn-default">
                                        <i class="fa fa-trash-alt"></i>
                                        Sil
                                    </button>
                                </a>
                               
                                <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>


